body {
  background-attachment: fixed;
  background-color: #f0f9ff;
  background-image: linear-gradient(to bottom, #f0f9ff, #eff6ff 100%);
  bottom: 0;
  font-family: sans-serif;
  font-size: 1rem;
  left: 0;
  margin: 0;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

button {
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

button:focus {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  margin: auto;
  max-width: 768px;
}

.app-header {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.main::-webkit-scrollbar {
  background: inherit;
  height: 0;
  width: 0;
}

header {
  padding: 1rem;
  position: relative;
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

.app-bar h1 {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
}

.app-bar p {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.25rem;
}

.task-form {
  display: flex;
  padding: 1rem;
}

.task-form > input {
  background: rgba(229, 229, 229, 0.95);
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.task-form > input:focus {
  outline: 0;
}

.task-form > button {
  background-color: #315481;
  height: 95%;
  min-width: 100px;
}

.tasks {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 1rem;
}

.tasks > li {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.25rem;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.tasks > li > span {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.tasks > li > button {
  background-color: #ff3046;
  justify-self: flex-end;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter > button {
  background-color: #62807e;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
}

.login-form > div {
  margin: 0.5rem;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div > input {
  background: rgba(229, 229, 229, 0.95);
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

.user {
  align-self: flex-end;
  color: #075985;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin: 0.75rem 0 0;
}

.github-btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #e1e5f0;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem;
  width: 16rem;
}

.github-btn > div {
  margin-left: 0.25rem;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
  justify-content: center;
}